/********* base *********/

/*set the margin,padding, and box style for all elements*/
*,
*::before,
*::after{
    margin: 0;
    padding:0;
    box-sizing: inherit;
}

html{
    /*Set the font size to 62.5% of parent,i.e the browser default font-size(16px)*/
    font-size: 62.5%;
    /*Will cause all elements to become border-box*/
    box-sizing: border-box;
}

body{
    font-size: 1.6rem;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

/******** header *********/

.header{
    padding: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-bottom: 2rem;

}

.logo{
    display: inline-block;
    height: 6rem;
    width: auto;
    margin-right: 1rem;
}

.title{
    font-size: 4rem;
    font-weight: 100;
}

.pixel-color{
    margin-left: auto;
}

.pixel-color__input{
    outline: none;
    bordeR:.2rem solid transparent;
    transition: all .2s;
}

.pixel-color__input:active,
.pixel-color__input:focus{
    border: .2rem solid slateblue;
}
/******* main *********/

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pixel-form{
    margin-bottom:2rem;
}

.pixel-form__label{
    margin-right: .4rem;
}


.pixel-form__input{
    display: inline-block;
    width: 10rem;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: .2rem solid lightgrey;
    transition: all .2s;
    margin-right: 2rem;
}

.pixel-form__input:focus,
.pixel-form__input:active{
    border: .2rem solid slateblue;
}

.pixel-form__submit{
    font-size: inherit;
    font-family: inherit;
    background-color: slateblue;
    color: white;
    outline: none;
    border: .2rem solid transparent;
    padding: .2rem 1rem;
    transition: all .2s;
}

.pixel-form__submit:hover,
.pixel-form__submit:active{
    background-color: darkslateblue;
}

.pixel-form__submit:focus{
    border: .2rem solid mediumslateblue;
}

.pixel-grid{
    border: .2rem solid black;
    height: 50rem;
    width: 50rem;
}

.pixel-grid__row,
.pixel-grid__column{
    border:.1rem solid black;
}
